.eunit
*.o
*.beam
*.plt
erl_crash.dump
.concrete/DEV_MODE

# rebar 2.x
.rebar
rel/example_project
ebin/*.beam
deps/
cover/
tmp/
doc/
*.ez
.fetch
via_estimation-*.tar

# rebar 3
.rebar3
_build/
_checkouts/
